*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures

/server/db.sqlite
/server/last_update.json
__pycache__
/server/.idea
home.log*
app/google-services.json

server/org/home/server/config.py